{% extends 'frontend/base.html' %}

{% load static %}

{% block content %}
<!-- Hero-area -->
<div class="hero-area section">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(./img/page-background.jpg)"></div>
    <!-- /Backgound Image -->

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <ul class="hero-area-tree">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li>Services</li>
                </ul>
                <h1 class="white-text">Services</h1>

            </div>
        </div>
    </div>

</div>
<!-- /Hero-area -->
service
{% endblock %}